:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --primary-color: #0069ae;
  --primary-light-color: #5497e0;
  --primary-dark-color: #003f7e;
  --on-primary-color: #f6f4f3;
  --secondary-color: #23ce6b;
  --secondary-light-color: #69ff9a;
  --secondary-dark-color: #009c3e;
  --on-secondary-color: #0f1108;
  --background-color: #f6f4f3;
  --on-background-color: #0f1108;
  --error-color: #A63446;
  --on-error-color: #f6f4f3;
  --surface-color: #FFFFFF;
  /* https://coolors.co/a63446-f6f4f3-0069ae-23ce6b-0f1108 */
  /* https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=0069AE&primary.text.color=F6F4F3&secondary.color=23CE6B&secondary.text.color=0F1108 */

  --default-margin-bottom: 1.45rem;
  --default-horizontal-margin: 1.45rem;
  --half-margin-bottom: calc(var(--default-margin-bottom) / 2);

  --default-header-background-color: var(--primary-color);
  --default-header-link-color: #F6F4F3;
  --default-vertical-spacing: 1.45rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
hgroup {
  padding: 0;
  margin: 0 0 1.45rem;
}
ul {
  padding: 0;
  margin: 0 0 var(--default-margin-bottom) var(--default-horizontal-margin);
  list-style-position: outside;
  list-style-image: none;
}
ol {
  padding: 0;
  margin: 0 0 var(--default-margin-bottom) var(--default-horizontal-margin);
  list-style-position: outside;
  list-style-image: none;
}
dl {
  padding: 0;
  margin: 0 0 var(--default-margin-bottom);
}
dd {
  padding: 0;
  margin: 0 0 var(--default-margin-bottom);
}
figure {
  padding: 0;
  margin: 0 0 var(--default-margin-bottom);
}
pre {
  margin: 0 0 var(--default-margin-bottom);
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  padding: 0;
  margin: 0 0 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  padding: 0;
  margin: 0 1.45rem var(--default-margin-bottom);
}
noscript {
  padding: 0;
  margin: 0 0 var(--default-margin-bottom);
}
address {
  padding: 0;
  margin: 0 0 var(--default-margin-bottom);
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: var(--half-margin-bottom);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: var(--half-margin-bottom);
  margin-top: var(--half-margin-bottom);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: var(--half-margin-bottom);
  margin-top: var(--half-margin-bottom);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: var(--half-margin-bottom);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding: 0.725rem 0.96667rem calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2em 0;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
